In [1]:
import pandas as pd
import numpy as np

In [2]:
farm_data_master=pd.read_csv(r"E:\phd\farm_data.csv")
train_data_master=pd.read_csv(r"E:\phd\train_data.csv")
train_weather_master=pd.read_csv(r"E:\phd\train_weather.csv")

In [3]:
temp_location_list=[]
temp_timestamp_list=[]
for i in train_weather_master.deidentified_location.unique():
    for j in pd.date_range('2016-01-01 00:00:00', periods=8784, freq='H'):
        temp_timestamp_list.append(j)
        temp_location_list.append(i)

In [4]:
new_train_weather_master=pd.DataFrame(columns=['timestamp', 'deidentified_location'])
new_train_weather_master.timestamp=pd.Series(temp_timestamp_list)
new_train_weather_master.deidentified_location=pd.Series(temp_location_list)

In [5]:
new_train_weather_master.dtypes

timestamp                datetime64[ns]
deidentified_location            object
dtype: object

In [9]:
train_weather_master.timestamp=train_weather_master.timestamp.astype('datetime64[ns]')

In [11]:
train_weather_master.dtypes

timestamp                datetime64[ns]
deidentified_location            object
temp_obs                        float64
cloudiness                      float64
wind_direction                  float64
dew_temp                        float64
pressure_sea_level              float64
precipitation                   float64
wind_speed                      float64
dtype: object

In [12]:
test_merge=pd.merge(train_weather_master, new_train_weather_master, on=['timestamp', 'deidentified_location'], how='outer')

In [14]:
test_merge

,timestamp,deidentified_location,temp_obs,cloudiness,wind_direction,dew_temp,pressure_sea_level,precipitation,wind_speed
0,2016-01-01 00:00:00,location 7369,25.0,6.0,0.0,20.0,1019.7,NaN,0.0
1,2016-01-01 01:00:00,location 7369,24.4,NaN,70.0,21.1,1020.2,-1.0,1.5
2,2016-01-01 02:00:00,location 7369,22.8,2.0,0.0,21.1,1020.2,0.0,0.0
3,2016-01-01 03:00:00,location 7369,21.1,2.0,0.0,20.6,1020.1,0.0,0.0
4,2016-01-01 04:00:00,location 7369,20.0,2.0,250.0,20.0,1020.0,-1.0,2.6
...,...,...,...,...,...,...,...,...,...
140539,2016-12-09 10:00:00,location 5150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140540,2016-12-17 07:00:00,location 5150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140541,2016-12-20 06:00:00,location 5150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140542,2016-12-24 05:00:00,location 5150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140543,2016-12-28 10:00:00,location 5150,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
test_merge.deidentified_location.value_counts()

location 868     8784
location 5150    8784
location 565     8784
location 6364    8784
location 5677    8784
location 7048    8784
location 1784    8784
location 5410    8784
location 8421    8784
location 2532    8784
location 4525    8784
location 5489    8784
location 5833    8784
location 959     8784
location 7369    8784
location 5290    8784
Name: deidentified_location, dtype: int64

In [16]:
test_merge=test_merge.sort_values(by=['deidentified_location','timestamp']).reset_index(drop=True)

In [17]:
test_merge

,timestamp,deidentified_location,temp_obs,cloudiness,wind_direction,dew_temp,pressure_sea_level,precipitation,wind_speed
0,2016-01-01 00:00:00,location 1784,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 01:00:00,location 1784,-10.6,0.0,0.0,-13.9,1036.7,0.0,0.0
2,2016-01-01 02:00:00,location 1784,-11.1,0.0,0.0,-13.9,1036.9,0.0,0.0
3,2016-01-01 03:00:00,location 1784,-10.0,0.0,280.0,-15.0,1036.9,0.0,2.6
4,2016-01-01 04:00:00,location 1784,-13.3,0.0,230.0,-15.6,1037.8,0.0,1.5
...,...,...,...,...,...,...,...,...,...
140539,2016-12-31 19:00:00,location 959,8.1,NaN,220.0,6.5,1027.5,NaN,3.6
140540,2016-12-31 20:00:00,location 959,7.2,NaN,220.0,6.1,1026.9,NaN,4.1
140541,2016-12-31 21:00:00,location 959,6.9,NaN,220.0,5.8,1026.2,NaN,4.6
140542,2016-12-31 22:00:00,location 959,6.9,NaN,190.0,6.2,1025.4,NaN,3.1
140543,2016-12-31 23:00:00,location 959,7.5,NaN,210.0,6.5,1024.7,NaN,5.7

In [18]:
train_data_master.rename(columns={'date':'timestamp'},inplace=True)

In [19]:
train_data_master.timestamp=train_data_master.timestamp.astype('datetime64[ns]')

In [21]:
train_data_master.dtypes

timestamp          datetime64[ns]
farm_id                    object
ingredient_type            object
yield                     float64
dtype: object

In [23]:
train_data_master

                   timestamp     farm_id ingredient_type    yield
0        2016-01-01 00:00:00  fid_110884           ing_w    0.000
1        2016-01-01 00:00:00   fid_90053           ing_w    0.000
2        2016-01-01 00:00:00   fid_17537           ing_w    0.000
3        2016-01-01 00:00:00  fid_110392           ing_w    0.000
4        2016-01-01 00:00:00   fid_62402           ing_w    0.000
...                      ...         ...             ...      ...
20216095 2016-12-31 23:00:00   fid_41664           ing_w    8.750
20216096 2016-12-31 23:00:00   fid_14529           ing_w    4.825
20216097 2016-12-31 23:00:00   fid_46454           ing_w    0.000
20216098 2016-12-31 23:00:00   fid_24103           ing_w  159.575
20216099 2016-12-31 23:00:00   fid_34139           ing_w    2.850

[20216100 rows x 4 columns]

In [40]:
new_farm_data_master=farm_data_master.copy()

In [41]:
new_farm_data_master.drop([1076,537,510,634,704,574,360,678,1300,178,822,679,287,325,395],axis=0,inplace=True)

In [39]:
farm_data_master=pd.read_csv(r"E:\phd\farm_data.csv")

In [43]:
new_farm_data_master.reset_index(drop=True)

,farm_id,operations_commencing_year,num_processing_plants,farm_area,farming_company,deidentified_location
0,fid_110884,2008.0,NaN,690.455096,Obery Farms,location 7369
1,fid_90053,2004.0,NaN,252.696160,Obery Farms,location 7369
2,fid_17537,1991.0,NaN,499.446528,Obery Farms,location 7369
3,fid_110392,2002.0,NaN,2200.407555,Obery Farms,location 7369
4,fid_62402,1975.0,NaN,10833.140121,Obery Farms,location 7369
...,...,...,...,...,...,...
1429,fid_41664,1914.0,NaN,1822.663957,Sanderson Farms,location 5150
1430,fid_14529,NaN,NaN,399.297094,Obery Farms,location 5150
1431,fid_46454,1997.0,NaN,1046.552295,Sanderson Farms,location 5150
1432,fid_24103,2001.0,NaN,2766.186825,Dole Food Company,location 5150
1433,fid_34139,2001.0,NaN,8572.252713,Wayne Farms,location 5150

In [44]:
new_farm_data_master.to_csv(r"E:\phd\new_farm_data.csv")

In [57]:
new_farm_data_master

,farm_id,operations_commencing_year,num_processing_plants,farm_area,farming_company,deidentified_location
0,fid_110884,2008.0,NaN,690.455096,Obery Farms,location 7369
1,fid_90053,2004.0,NaN,252.696160,Obery Farms,location 7369
2,fid_17537,1991.0,NaN,499.446528,Obery Farms,location 7369
3,fid_110392,2002.0,NaN,2200.407555,Obery Farms,location 7369
4,fid_62402,1975.0,NaN,10833.140121,Obery Farms,location 7369
...,...,...,...,...,...,...
1444,fid_41664,1914.0,NaN,1822.663957,Sanderson Farms,location 5150
1445,fid_14529,NaN,NaN,399.297094,Obery Farms,location 5150
1446,fid_46454,1997.0,NaN,1046.552295,Sanderson Farms,location 5150
1447,fid_24103,2001.0,NaN,2766.186825,Dole Food Company,location 5150
1448,fid_34139,2001.0,NaN,8572.252713,Wayne Farms,location 5150

In [55]:
train_data_master.farm_id.unique().size

1434

In [56]:
train_data_master.shape

(20216100, 4)

In [59]:
np.array(train_data_master.farm_id)

array(['fid_110884', 'fid_90053', 'fid_17537', ..., 'fid_46454',
       'fid_24103', 'fid_34139'], dtype=object)

In [99]:
temp_operations_commencing_year=np.array([])
temp_num_processing_plants=np.array([])
temp_farm_area=np.array([])
temp_farming_company=np.array([])
temp_deidentified_location=np.array([])

for i in np.array(train_data_master.farm_id):
    if i in list(new_farm_data_master.farm_id.unique()):
        temp_operations_commencing_year=np.append(temp_operations_commencing_year,new_farm_data_master['operations_commencing_year'][new_farm_data_master['farm_id']==i].values[0])
        temp_num_processing_plants=np.append(temp_num_processing_plants,new_farm_data_master['num_processing_plants'][new_farm_data_master['farm_id']==i].values[0])
        temp_farm_area=np.append(temp_farm_area,new_farm_data_master['farm_area'][new_farm_data_master['farm_id']==i].values[0])
        temp_farming_company=np.append(temp_farming_company,new_farm_data_master['farming_company'][new_farm_data_master['farm_id']==i].values[0])
        temp_deidentified_location=np.append(temp_deidentified_location,new_farm_data_master['deidentified_location'][new_farm_data_master['farm_id']==i].values[0])
    else:
        temp_operations_commencing_year=np.append(temp_operations_commencing_year,np.nan)
        temp_num_processing_plants=np.append(temp_num_processing_plants,np.nan)
        temp_farm_area=np.append(temp_farm_area,np.nan)
        temp_farming_company=np.append(temp_farming_company,np.nan)
        temp_deidentified_location=np.append(temp_deidentified_location,np.nan)

KeyboardInterrupt:

In [82]:
type(new_farm_data_master['operations_commencing_year'][new_farm_data_master['farm_id']=='fid_110884'][0])

numpy.float64

In [73]:
type(np.array(train_data_master.farm_id)[1])

str

In [122]:
temp_list=list()

for i in train_data_master.farm_id.unique():
    if i in list(new_farm_data_master.farm_id.unique()):
        temp_list.append("yes")
    else:
        print(i)
        temp_list.append("no")

In [103]:
pd.Series(temp_list)[pd.Series(temp_list)=='no']

685    no
dtype: object

In [101]:
temp_farm_area.size

86311

In [105]:
new_farm_data_master=new_farm_data_master.append({'farm_id':'fid_111782'},ignore_index=True)

In [106]:
new_farm_data_master

,farm_id,operations_commencing_year,num_processing_plants,farm_area,farming_company,deidentified_location
0,fid_110884,2008.0,NaN,690.455096,Obery Farms,location 7369
1,fid_90053,2004.0,NaN,252.696160,Obery Farms,location 7369
2,fid_17537,1991.0,NaN,499.446528,Obery Farms,location 7369
3,fid_110392,2002.0,NaN,2200.407555,Obery Farms,location 7369
4,fid_62402,1975.0,NaN,10833.140121,Obery Farms,location 7369
...,...,...,...,...,...,...
1430,fid_14529,NaN,NaN,399.297094,Obery Farms,location 5150
1431,fid_46454,1997.0,NaN,1046.552295,Sanderson Farms,location 5150
1432,fid_24103,2001.0,NaN,2766.186825,Dole Food Company,location 5150
1433,fid_34139,2001.0,NaN,8572.252713,Wayne Farms,location 5150
1434,fid_111782,NaN,NaN,NaN,NaN,NaN

In [109]:
merge_1_farmdata_traindata=pd.merge(train_data_master, new_farm_data_master, on=['farm_id'], how='left')

In [111]:
merge_1_farmdata_traindata[merge_1_farmdata_traindata['farm_id']=='fid_111782']

,timestamp,farm_id,ingredient_type,yield,operations_commencing_year,num_processing_plants,farm_area,farming_company,deidentified_location
853,2016-01-01 00:00:00,fid_111782,ing_w,1.9,NaN,NaN,NaN,NaN,NaN
3154,2016-01-01 01:00:00,fid_111782,ing_w,4.3,NaN,NaN,NaN,NaN,NaN
5451,2016-01-01 02:00:00,fid_111782,ing_w,4.7,NaN,NaN,NaN,NaN,NaN
7751,2016-01-01 03:00:00,fid_111782,ing_w,4.2,NaN,NaN,NaN,NaN,NaN
10048,2016-01-01 04:00:00,fid_111782,ing_w,4.4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
20222722,2016-12-31 19:00:00,fid_111782,ing_w,2.7,NaN,NaN,NaN,NaN,NaN
20225087,2016-12-31 20:00:00,fid_111782,ing_w,3.4,NaN,NaN,NaN,NaN,NaN
20227454,2016-12-31 21:00:00,fid_111782,ing_w,3.3,NaN,NaN,NaN,NaN,NaN
20229822,2016-12-31 22:00:00,fid_111782,ing_w,3.0,NaN,NaN,NaN,NaN,NaN
20232190,2016-12-31 23:00:00,fid_111782,ing_w,3.4,NaN,NaN,NaN,NaN,NaN

In [112]:
merge_1_farmdata_traindata.shape

(20233668, 9)

In [114]:
(20216100-20233668)/2

-8784.0

In [118]:
merge_1_farmdata_traindata[merge_1_farmdata_traindata['deidentified_location'].isna()==True]

,timestamp,farm_id,ingredient_type,yield,operations_commencing_year,num_processing_plants,farm_area,farming_company,deidentified_location
853,2016-01-01 00:00:00,fid_111782,ing_w,1.9,NaN,NaN,NaN,NaN,NaN
3154,2016-01-01 01:00:00,fid_111782,ing_w,4.3,NaN,NaN,NaN,NaN,NaN
5451,2016-01-01 02:00:00,fid_111782,ing_w,4.7,NaN,NaN,NaN,NaN,NaN
7751,2016-01-01 03:00:00,fid_111782,ing_w,4.2,NaN,NaN,NaN,NaN,NaN
10048,2016-01-01 04:00:00,fid_111782,ing_w,4.4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
20222722,2016-12-31 19:00:00,fid_111782,ing_w,2.7,NaN,NaN,NaN,NaN,NaN
20225087,2016-12-31 20:00:00,fid_111782,ing_w,3.4,NaN,NaN,NaN,NaN,NaN
20227454,2016-12-31 21:00:00,fid_111782,ing_w,3.3,NaN,NaN,NaN,NaN,NaN
20229822,2016-12-31 22:00:00,fid_111782,ing_w,3.0,NaN,NaN,NaN,NaN,NaN
20232190,2016-12-31 23:00:00,fid_111782,ing_w,3.4,NaN,NaN,NaN,NaN,NaN

In [124]:
final_merge_farm_data_left=pd.merge(merge_1_farmdata_traindata, test_merge, on=['timestamp', 'deidentified_location'], how='inner')

In [125]:
final_merge_farm_data_left.to_csv(r"E:\phd\final_merge_farm_data_left.csv")

In [126]:
merge_2_farmdata_traindata=pd.merge(train_data_master, new_farm_data_master, on=['farm_id'], how='inner')

In [128]:
final_merge_farm_data_inner=pd.merge(merge_2_farmdata_traindata, test_merge, on=['timestamp', 'deidentified_location'], how='inner')

MemoryError: